
.my-container{
    width: 1000px;
    margin: auto;
    height: 550px;
    /* box-shadow: 1px 0px 1px 1px #888888; */
}
.header{
    padding: 8px;
    text-align: center;
    color: #fff;
    font-size: 25px;
    background-color: #ebb319;
    margin-top: 10px;
}
#calculate{
    padding: 30px 20px;
    background-color: #fff;
}
#result{
    padding: 0;
    border-left: 1px solid #e6e6e6;
    background-color: #fff;
    height: 400px;
}
.title{
    text-align: center;
    font-size: 40px;
    background-color: rgb(255, 174, 0);
    padding: 10px;
    color: #fff;
    /* border: 1px solid #eee; */
}
.control{
    margin-bottom: 30px;
}
.bg2{
    padding: 0;
}